@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background-color: #f4f6f8;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #1a73e8;
  border-radius: 5px;
}

.home-container {
  display: grid;
  grid-template-areas: "aside section section";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
  margin: auto;
  margin-top: 25px;
  height: 100vh;
  background-color: #f4f6f8;
}

aside {
  grid-area: aside;
  padding: 0;
}

section {
  grid-area: section;
  padding: 25px 15px 25px 15px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
}