@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background-color: #f4f6f8;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #50a8ff;
  border-radius: 5px;
}