.folder_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.folder_header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.folder_header label {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    background-color: #3699fc;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(49, 49, 49, 0.75);
    cursor: pointer;
    transition: all 0.3s ease;
}

.folder_header label:hover {
    background-color: #1e90ff;
    transform: scale(1.05);
}