.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-inputs input {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
}

.input_pass {
    width: 100%;
}

.error_password {
    border-bottom: red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.input-submit {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #1e90ff;
    color: white;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 50px;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #2089f1;
    opacity: 0.8;
}

.input-submit:disabled {
    background-color: #1e90ff;
    opacity: 0.5;
    cursor: not-allowed;
}

.logo img {
    width: 100%;
    max-width: 100px;
    color: black;
}

@media screen and (max-width: 768px) {
    .auth-wrapper {
        border: none;
        box-shadow: none;
        padding: 0;
    }
}